<body bgcolor="Pink">
<%= form_for :article, url: articles_path do |f| %>
<% if @article.errors.any? %>
<div id="error_explanation">

<ul>
<% @article.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>



<% end %>
<h1>New article</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
</body>
